<div class="bg-cover post-cover" style="background-image: url('<%- theme.postBackgroundImage %>')">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="brand">
                    <div class="description center-align post-detail-title">
                        <%= page.title %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>