<div class="article" data-aos="fade-up">
    <%
        let data = site.categories.findOne({name: page.categories.data[0].name});
    %>
    <div class="card relate-article-wrapper">
        <header class="relate-article-header">相关文章&nbsp;<i class="fa fa-arrow-right"></i></header>
        <div class="relate-post-box">
            <% data.posts.data.filter(post => post.title !== page.title).forEach(function(post, index){ %>
                <% if (post && index < 5) { %>
                    <div class="relate-post">
                        <span><%- index+1 %>、</span><a id="relate-post-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
                    </div>
                <% }
            })%>
        </div>
    </div>
</div>